* {
	margin: 0;
	padding: 0;
}
body {
	width: 100vw;
	height: 100vh;
	font-family: Gotham Rounded A,Gotham Rounded B,Helvetica,Arial,sans-serif;
	overflow: hidden;
}
main {
	width: 100vw;
	font-size: 0;
}
.landing {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 402px;
	height: 400px;
}
.landing .img {
	display: block;
	margin: 0 auto;
	width: 300px;
	font-size: 0;
}
.landing .img img {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
}
.landing p {
	display: block;
	margin: 30px auto;
	width: 400px;
	text-align: center;
	font-size: 20px;
	color: #4d5659;
}
.landing form {
	display: block;
	margin: 0 auto;
	width: 400px;
	height: 81px;
	line-height: 40px;
	border: 1px solid #4285f4;
	font-size: 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	overflow: hidden;
}
.landing form div {
	display: block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	color: #b7c0c3;
	border-bottom: 1px solid #4285f4;
}
.landing form div span {
	color: #4285f4;
}
.landing form input {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	height: 40px;
	line-height: 40px;
	border: none;
	text-align: center;
	color: #4285f4;
}
.landing form button {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	height: 40px;
	border: none;
	background-color: #4285f4;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
}
.landing form input:focus, .landing form button:focus  {
	outline: none;
}
.col-15 {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 15vw;
	height: 100vh;
}
.col-70 {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 70vw;
	height: 100vh;
}
.local-container {
	width: 100%;
	height: 100vh;
	border-right: 1px solid #aaaaaa;
	font-size: 0;
}
#local video {
	width: 100%;
	margin-bottom: 10px;
}
.col-6 {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}
.col-12 {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
.col-inner {
	padding: 0 10px;
}
#local button {
	width: 100%;
	cursor: pointer;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	font-size: 15px;
	height: 30px;
	margin-bottom: 10px;
}
.setting {
	color: #272b2d;
	background-color: #e6eaed;
	-o-transition: background .3s ease-in;
	-ms-transition: background .3s ease-in;
	-moz-transition: background .3s ease-in;
    -webkit-transition: background .3s ease-in;
    transition: background .3s ease-in;
}
.setting.pause, .setting.mute {
	background-color: #ea4335;
}
.setting:hover  {
    background-color: #b0bcc6;
}
.invite {
	color: #fff;
	background-color: #4285f4;
}
.border-bottom {
	width: 100%;
	height: 1px;
	background-color: #e6eaed;
	margin-bottom: 10px;
}
#local img {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	margin-top: 10px;
	margin-bottom: 10px;
}
#local input {
	display: block;
	width: 90%;
	margin: 0 auto;
	height: 28px;
	font-size: 14px;
	color: #666666;
	border: 1px solid #aaaaaa;
	text-align: center;
	border-bottom: none;
}
#local p {
	width: 100%;
	line-height: 15px;
	font-size: 12px;
	color: #333333;
	text-align: center
}
#local span {
	display: block;
	width: 100%;
	text-align: center;
	line-height: 32px;
	font-size: 16px;
	color: #333333;
	border: none;
}
.videoContainer {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 50%;
	height: 50vh;
}
.videoContainer video {
	display: block;
	width: 100%;
	height: 50vh;
	transform: scaleX(-1);
	object-fit: fill;
}
.chat-container {
	display: block;
	width: 100%;
	height: 100vh;
	border-left: 1px solid #e6eaed;
}
#chat h1 {
	display: block;
	padding: 0 10px;
	height: 7.5vh;
	line-height: 7.5vh;
	font-size: 20px;
	font-weight: normal;
	border-bottom: 1px solid #e6eaed;
	color: #828c8f;
}
#conversation {
	text-align: left;
	display: block;
	width: 100%;
	height: 80vh;
	overflow-x: hidden;
	overflow-y: scroll;
	font-size: 16px;
}
#conversation p.file {
	display: block;
	margin: 0 auto;
	width: 90%;
	line-height: 20px;
	text-align: center;
	color: #888;
	font-size: 12px;
}
#conversation a {
	display: block;
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	text-align: center;
	color: blue;
}
#conversation .mes {
	padding: 5px;
}
#conversation .mes .from {
	font-size: 12px;
	color: #aaa;
	text-indent: 16px;
}
#conversation .mes .content {
	line-height: 20px;
	font-size: 16px;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
#conversation .mes.me .content {
	text-align: right;
	color: #fff;
	background-color: #4285f4;
}
#conversation .mes.other .content {
	color: #272b2d;
	background-color: #e6eaed;
}
#chat input[type="text"] {
	display: block;
	width:100%;
	height: 7.5vh;
	text-indent: 16px;
	line-height: 7.5vh;
	font-size: 16px;
	border: none;
	border-top: 1px solid #e6eaed;
	border-bottom: 1px solid #e6eaed;
}
#chat input[type="text"]:focus {
	outline-color: #4285f4;
}
#chat input[type="file"] {
	line-height: 5vh;
}
.noti {
	display: block;
	position: fixed;
	z-index: 1000000;
	opacity: 0;
	top: -50px;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	color: #ffffff;
	width: 390px;
	padding: 10px;
	font-size: 14px;
	line-height: 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: all 200ms linear; 
	-moz-transition: all 200ms linear; 
	-ms-transition: all 200ms linear; 
	-o-transition: all 200ms linear; 
	transition: all 200ms linear; 
}
.noti.blue { background-color: #4285f4; }
.noti.red { background-color: #ea4335; }
.noti.green { background-color: #34a853; }
.noti.yellow { background-color: #fbbc05 }
.noti.show {
	top: 20px;
	opacity: 1;
}