
<main id="landing">
	<div class="landing">
		<div class="img">
			<img src="img/lamk.png" alt="LAMK" />
			<img src="img/webrtc.png" alt="LAMK RTC" />
		</div>
		<p>Share this link below to invite your group</p>
		<form ng-submit="mainCtrl.createRoom()">
			<span>{{ mainCtrl.link }}{{ mainCtrl.roomName }}</span>
			<input type="text" name="room" ng-model="mainCtrl.roomName" placeholder="choose a room name" required="true">
			<button type="submit">Create Chat Room</button>
		</form>
	</div>
</main>