<main>
	<div id="local" class="col-15">
		<div class="local-container">
			<div class="col-12">
				<div class="col-inner">
					<img src="img/lamk.png" alt="LAMK" />
					<img src="img/webrtc.png" alt="WebRTC" />
				</div>
			</div>
			<div class="col-12">
				<div class="col-inner">
					<button type="button" name="invite" class="invite" ng-click-copy="{{ url }}">
						<i class="fa fa-chain" style="font-size:16px;color:white;"></i> Invite
					</button>
				</div>
			</div>
			<div class="col-6">
				<div class="col-inner">
					<button type="button" name="lock" class="setting disabled" ng-disabled="true">
						<i class="fa fa-unlock" style="font-size:16px;color:#272b2d;"></i> Lock
					</button>
				</div>
			</div>
			<div class="col-6">
				<div class="col-inner">
					<button type="button" name="leave" class="setting" ng-click="leave()">
						<i class="fa fa-sign-out" style="font-size:16px;color:#272b2d;"></i> Leave
					</button>
				</div>
			</div>
			<hr>
			<div class="col-12">
				<div id="nick-container" class="col-inner">
					<p>Double-click to change user name</p>
					<p>Click elsewhere to set username</p>
					<span ng-hide="editing" ng-dblclick="editItem()">{{ nick }}</span>
					<input ng-show="editing" type="text" ng-model="nick" ng-blur="doneEditing()" autofocus>
				</div>
			</div>
			<div class="col-12">
				<div class="col-inner">
					<video id="localVideo" style="" oncontextmenu="return false;" autoplay=""></video>
				</div>
			</div>
			<div class="col-6">
				<div class="col-inner">
					<button type="button" name="audio" class="setting">
						<i class="fa fa-microphone" style="font-size:16px;color:#272b2d;"></i>
					</button>
				</div>
			</div>
			<div class="col-6">
				<div class="col-inner">
					<button type="button" name="video" class="setting" ng-click="video()">
						<i class="fa fa-video-camera" style="font-size:16px;color:#272b2d;"></i>
					</button>
				</div>
			</div>
			<hr>
		</div>
	</div>
	<div id="remotes" class="col-70"></div>
	<div id="chat" class="col-15">
		<form class="chat-container" ng-submit="sendMessage()">
			<h1><i class="fa fa-comment" style="font-size:20px;color:#aaa;"></i> Chat</h1>
			<div id="conversation"></div>
			<input type="text" ng-model="message" name="message" placeholder="Send message" required="true">
			<input type="file" id="fileToAll">
		</form>
	</div>
</main>