<main class="row">
    <div id="notification" class="notification"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-3">
                <div class="local-container">
                    <div class="row">
                        <div class="img">
                            <img src="img/lamk.png" alt="LAMK" />
                            <img src="img/webrtc.png" alt="WebRTC" />
                        </div>
                        <div class="col-sm-6 form-group">
                            <button type="button" name="invite" class="btn btn-primary form-control" ng-click-copy="{{ url }}">
                                <i class="fa fa-chain"></i> Invite
                            </button>
                        </div>
                        <div class="col-sm-6 form-group">
                            <button type="button" name="leave" class="btn btn-danger form-control" ng-click="leave()">
                                <i class="fa fa-sign-out"></i> Leave
                            </button>
                        </div>
                        <div class="border-bottom"></div>
                        <div class="col-sm-12">
                            <div id="nick-container" class="col-inner">
                                <div class="form-group text-center">
                                    <p>Double-click to change username<br />Click elsewhere to set username</p>
                                    <span ng-hide="editing" ng-dblclick="editItem()">{{ nick }}</span>
                                    <input ng-show="editing" type="text" ng-model="nick" ng-blur="doneEditing()" class="form-control text-center" autofocus>
                                </div>
                            </div>
                            <div class="local-video">
                                <video id="localVideo" style="" oncontextmenu="return false;" autoplay=""></video>
                                <div class="state">
                                    <div id="audio" class="state-box"><i class="fa fa-microphone"></i></div>
                                    <div id="video" class="state-box"><i class="fa fa-video-camera"></i></div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6 form-group">
                            <button type="button" name="audio" class="form-control btn btn-danger">
                                <i class="fa fa-microphone-slash"></i>
                            </button>
                        </div>
                        <div class="col-sm-6 form-group">
                            <button type="button" name="video" class="form-control btn btn-danger" ng-click="video()">
                                <i class="fa fa-pause"></i>
                            </button>
                        </div>
                        <div class="border-bottom"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div id="remotes" class="row videoContainers"></div>
            </div>
            <div class="col-xs-3">
                <div class="chat-container">
                    <h3><i class="fa fa-comment"></i> Chat</h3>
                    <div id="conversation"></div>
                    <form ng-submit="sendMessage()">
                        <input type="text" ng-model="message" name="message" placeholder="Send message" required="true">
                        <input type="file" id="fileToAll">
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
