form.landing {
    padding-top: 100px;

    .img {
        font-size: 0;
        padding: 15px;
        margin-bottom: 15px;

        img {
            width: 50%;
            display: inline-block;
            vertical-align: middle;
        }
    }

    p {
        width: 100%;
        line-height: 30px;
        border: 1px solid #4285f4;
        overflow: hidden;
        color: #4285f4;
        margin-bottom: 15px;
        @include border-radius(4px);
    }

    button:focus,
    input:focus {
        outline: none;
    }
}
